.app {
  background-color: transparent;
  .content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin: 0 auto;
    .details {
      flex: 1;
      overflow: auto;
    }
  }
}